body {
  font-family: sans-serif;
  background-color: hsl(285deg 90% 90%);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
h1 {
  margin: 1rem;
  font-weight: bolder;
}
label {
  margin: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
}
input,
button {
  margin: 1rem;
  border: none;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);

  padding: 15px;
}
button {
  cursor: pointer;
  border-radius: 10px;

  width: 5rem;
}

#output {
  margin: 1rem;
  font-size: 1rem;
}
